
.cards {
    width: 25%;
    position: relative;
    flex: 1 auto;
    margin: 9px 0;
    perspective: 1000px;
    padding: 20px;
    top: 0;

    @include query(380px) {
        width: 23%;
    }

    @include query(450px) {
        width: 21%;
        padding: 18px;
    }

    @include query(500px) {
        width: 21%;
        padding: 26px;
    }

    @include query(800px) {
        width: 17%;
        padding: 32px;
    }

    @include query(1000px) {
        padding: 38px;
    }

    @include query(1200px) {
        padding: 66px;
    }
}

.front-card {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.back-card {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotateX(180deg) rotateZ(180deg);
    width: 100%;
}

 .flipper {
   transition: all 1.0s linear;
   transform-style: preserve-3d;
   position: relative;
 }

.is-deleted {
  img {
    opacity: 0;
  }
}