// Colors
$white: #fff;
$champange: #c5eae6;
$yellow: #f7931e;
$blue: #137875;


// Font Size
$font-size-small: 1.5rem;
$font-size-regular: 1.8rem;
$font-size-large: 2.4rem;
$font-size-x-large: 3.6rem;
$font-size-xx-large: 6.3rem;
$font-size-xxx-large: 11.6rem;

// Spaces
$space-xxx-small: 1.0rem;
$space-xx-small: 2.0rem;
$space-x-small: 3.0rem;
$space-small: 4.0rem;
$space-regular: 6.8rem;
$space-large: 10.0rem;
$space-x-large: 14.0rem;
$space-xx-large: 16.0rem;
$space-xxx-large: 18.0rem;
